.title{
    font-family: Tahoma, sans-serif;
    font-size: 45px;
    color: #000000;
    font-weight: 100px;
    font-style:italic;
    text-align: center;
}
.text{
    letter-spacing: 3px;
    text-indent:25px;
    font-family: Arial, sans-serif;
    font-weight: 60px;
    
}

.border{
    border: 5px #ff0000 solid;
}

.block{
    width: 300px;
    height: 280px;
    padding-left: 150px;
}

